<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
function CheckAll(form)
{
  for (var i=0;i<form.elements.length;i++)
    {
    var e = form.elements[i];
    if (e.Name != "chkAll"&&e.disabled!=true)
       e.checked = form.chkAll.checked;
    }
}
</script>
</head>

<body>
<div id="spacemenu"></div>
<div class="alterdiv"></div>
<div id="maindiv">
<form id="form1" name="form1" method="post"  action="__URL__/del">
    <div id="navdiv">
        <table width="94%" border="0" cellspacing="0" cellpadding="0" class="gray" align="center">
  <tr>
    <td height="41" class="linkblue">&nbsp;&nbsp;&nbsp;您当前的位置：商家验证</td>
    <td width="59%" class="linkblue">会员帐号：<input type="text" name="kwords" id="kwords" class="htinputcss" /><input type="button" name="button3" id="button3" value="搜索" class="ssbtn" onClick="this.form.action='__URL__';this.form.submit()" onFocus="this.blur()" />
    </td>
    </tr>
</table>
    </div>

<table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#e2e2e2" class="backfont">
  <tr bgcolor="#f7f7f7">
    <td width="5%" height="28" align="center"><input type="checkbox" onclick="CheckAll(this.form)" name="chkAll" value="checkbox" /></td>
    <td width="21%" align="center">公司名称</td>
    <td align="center">联系人</td>
    <td align="center">联系电话</td>
    <td align="center">所在城市</td>
    <td width="18%" align="center">合作意向</td>
    <td width="17%" align="center">提交时间</td>
    <td width="10%" align="center">审核状态</td>
    </tr>
<volist name="datalist" id="vo">
  <tr bgcolor="#FFFFFF" onmouseover="this.style.backgroundColor='#f7f7f7'" onmouseout="this.style.background='#FFFFFF'">
    <td height="52" align="center"><input type="checkbox" name="del[]" value="{?$vo.id?}" /></td>
    <td align="center">{?$vo.company?}</td>
    <td align="center">{?$vo['name']?}</td>
    <td align="center">{?$vo['cellphone']?}</td>
    <td align="center">{?$vo['city']?}</td>
    <td align="center">{?$vo['intent']?}</td>
    <td align="center">{?$vo.times?}</td>
    <td align="center">
    <if condition="$vo['ispass'] eq '0'">
    	待审核
    <elseif condition="$vo['ispass'] eq '1'" />
    	<font color="#0000FF">审核通过</font>
    <elseif condition="$vo['ispass'] eq '-1'" />
    	<font color="#FF0000">审核失败</font><br />
        失败原因：{?$vo['fail']?}
    </if>
    </td>
    </tr>
</volist>
  <tr bgcolor="#FFFFFF">
    <td height="52" colspan="8" align="left">&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="delbtn" id="delbtn" class="delbtn" value="删除" onclick="return confirm('确认要删除吗？')" />&nbsp;<input type="button" name="button4" id="button4" class="orderbtn" value="审核通过" onClick="this.form.action='__URL__/audit';this.form.submit();" onFocus="this.blur()" />&nbsp;<input type="button" name="button4" id="button4" class="orderbtn" value="待审核" onClick="this.form.action='__URL__/unaudit';this.form.submit();" onFocus="this.blur()" />&nbsp;<input type="button" name="button4" id="button4" class="orderbtn" value="审核失败" onClick="window.open('__CONTROLLER__/fail','_blank','width=800,height=600,top=50,left=230,scrollbars=yes')" onFocus="this.blur()" /></td>
    </tr>
</table>
</form>
</div>
<div id="pagediv">
    {?$getpage?}
</div>
</body>
</html>
