<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="__PUBLIC__/admin/css/admin.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__ROOT__/ckeds/ckeditor.js"></script>
<script type="text/javascript">
function check()
{
	if (document.form1.title.value.match(/^\s*$/)){
		alert ("标题名称不能为空");
		document.form1.title.focus();
		return false;
	}
}
</script>
</head>

<body>
<div id="spacemenu">
	<div id="leftarrow"></div>
    <div id="return1"><a href="__MODULE__/ColumnManage#{?$id?}">返回上一级</a></div>
</div>
<div class="alterdiv"></div>
<div id="posdiv">
	<table width="94%" border="0" cellspacing="0" cellpadding="0" class="gray" align="center">
  <tr>
    <td height="46">您当前的位置：栏目管理 &gt;&gt; {?$cname?} </td>
  </tr>
</table>
</div>
<div id="maindiv">
<form id="form1" name="form1" method="post" action="__URL__/add?&id={?$id?}" onsubmit="return check()">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="green">
  <tr>
    <td width="28%" height="40" align="right">所属栏目：</td>
    <td width="72%">{?$data.c_names?}</td>
  </tr>
  <tr>
    <td height="40" align="right">内容：</td>
    <td><textarea name="bodys" id="bodys" class="ckeditor" cols="45" rows="5">{?$bodys?}</textarea></td>
  </tr>
  <tr>
    <td height="40" align="right">&nbsp;</td>
    <td><input type="submit" name="button" id="button" value="提交" class="addbtn" /></td>
  </tr>
</table>
</form>
</div>
</body>
</html>
